/* * {
    border: 2px dashed red;
} */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
} 

/* header section {
    position: relative;
} */

.head-shot {
    min-height: 200px;
    min-width: 200px;
    margin-left: 75px;
}

#top-panel {
    display: inline-block;
    margin: auto 75px;
    width: 100%;
    text-align: center;
    background-color: lightseagreen; 
    padding: 20px 0px 0px 0px;
    font-family: monospace;
    font-size: 175%;
    border-radius: 20px;
}

header  h1 {
    margin: 0px 0px 10px 0px;
}
header  p {
    margin: 0px 0px 30px 0px;
}

nav ul {
    background-color: rgba(255, 255, 255, .5);
    padding: 0;
      margin: 0 auto;
    display: flex;

    justify-content: space-around;
    align-items: center;
    height: 50px;
    list-style-type: none;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.main-panel {
    display: inline-block;
    width: 100%;
    background-color: rgb(243, 188, 47);
    margin: 0px 45px 0px 75px;
    padding: 15px 30px;
    border-radius: 20px;
    height: fit-content;
    position: relative;
}

main aside {
    background-color: grey;
    margin-right: 75px;
    padding: 15px 30px;
    border-radius: 20px;
    width: 25%;
    height: fit-content;
    position: sticky;
    top: 30px;
}

main section section {
    background-color: rgb(255, 255, 255);
    margin: 20px 10px;
    font-family: Courier New, Courier, monospace;
    border-radius: 15px;
    padding-bottom: 10px;
}

main p {
    margin: 15px 30px;
}

section h2 {
    background-color: rgba(243, 188, 47, 0.2);
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 25px;
} 

#video {
    margin: 0px auto 10px auto;
    display: block;
}

#img {
    margin: 0px auto 10px auto;
    display: block;
}

#grid {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}